language: objective-c
osx_image: xcode9.2

cache:
  - directories:
    - Carthage

before_install: true
install:
  - rvm get stable || true
  - brew update || true
  - brew install carthage || true
  - brew outdated carthage || brew upgrade carthage
before_script:
  - chmod +x ./script/build
xcode_project: Feathers.xcodeproj
matrix:
  include:
    - script:
      - carthage bootstrap --platform mac
      - script/build
      xcode_scheme: Feathers-macOS
      env:
        - XCODE_SDK=macosx
        - XCODE_ACTION="build test"
        - XCODE_DESTINATION="arch=x86_64"
    - script:
      - carthage bootstrap --platform iOS
      - script/build
      xcode_scheme: Feathers-iOS
      env:
        - XCODE_SDK=iphonesimulator
        - XCODE_ACTION="build-for-testing test-without-building"
        - XCODE_DESTINATION="platform=iOS Simulator,name=iPhone 7 Plus"
    - script:
      - carthage bootstrap --platform tvOS
      - script/build
      xcode_scheme: Feathers-tvOS
      env:
        - XCODE_SDK=appletvsimulator
        - XCODE_ACTION="build-for-testing test-without-building"
        - XCODE_DESTINATION="platform=tvOS Simulator,name=Apple TV"
    - script:
      - carthage bootstrap --platform watchOS
      - script/build
      xcode_scheme: Feathers-watchOS
      env:
        - XCODE_SDK=watchsimulator
        - XCODE_ACTION=build
        - XCODE_DESTINATION="platform=watchOS Simulator,name=Apple Watch - 38mm,OS=4.2"
    - script:
      - carthage checkout
      - carthage build --no-skip-current --platform mac
      env:
        - JOB=CARTHAGE-macOS
    - script:
      - carthage checkout
      - carthage build --no-skip-current --platform iOS
      env:
        - JOB=CARTHAGE-iOS
    - script:
      - carthage checkout
      - carthage build --no-skip-current --platform tvOS
      env:
        - JOB=CARTHAGE-tvOS
    - script:
      - carthage checkout
      - carthage build --no-skip-current --platform watchOS
      env:
        - JOB=CARTHAGE-watchOS
    - script:
      - pod repo update
      - travis_wait 30 pod lib lint Feathers.podspec
      env:
        - JOB=PODSPEC
